//- TEMPLATES:

-
  const ROOT = "/"
  const MAIN_CSS_DIR = ROOT + "styles/main.css",
    HOME_CSS_DIR = ROOT + "styles/home.css",
    INDEX_DIR = ROOT + "index.html";

  
  
//- Utils for document page:

//- takes in object with key as project name, values as array of link objects
mixin nav(navInfo)
  .top-bar
    .navbar
      .menu
        a(href='/index.html') H
      .push
      for links, key in navInfo
        .dropdown
          button.dropbtn
            a(href= `/${key}/home.html`)= key
          .dropdown-content
            for page in links
              a(href= page.url)= page.name
            //- for link in subLinks 
            //-   a(href= link.url)= link.name

mixin docTitle(title)
  .title
    .title-wrapper
      .title-glow
      span= title

mixin section(title, content)
  h2= title
  for pkg in content 
    if typeof pkg === "object"
      | !{pkg[0]}
    else
      p= pkg

//- Template for home page:

mixin homePage(navInfo, title, links)
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet", href= MAIN_CSS_DIR)
      link(rel="stylesheet", href= HOME_CSS_DIR)
      title= title
    body
      +nav(navInfo)
      .main

        .home.push
          .title= title
          h2 
            a(href= INDEX_DIR) ..
          each page in links
            h2 
              a(href= page.url)= page.name
        .foot
          //- a(href='/about.html')  [What is this website?]
          .push
          p Note: ".." goes back home

//- Template for document page:

mixin docPage(navInfo, title, content, home, note)
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet", href= MAIN_CSS_DIR)
      title= title
    body
      +nav(navInfo)
      .main
        .navbar-pad
        a(name="top")
        .content
          +docTitle(title)
          .text-wrapper
            for paragraphs, subtitle in content
              +section(subtitle, paragraphs)
        .push
        .foot
          a(href='#top') [back to top ↑]
          | ⠀|⠀
          a(href= home.url)= `[Proj ${home.name} Home]`
          .push
          if note 
            p= "Note: " + note

