//- TEMPLATES:

-
  const ROOT = "/"
  const MAIN_CSS_DIR = ROOT + "assets/styles/main.css",
    HOME_CSS_DIR = ROOT + "assets/styles/home.css",
    INDEX_DIR = ROOT + "index.html";
  const contents = {
    I: ,
    II:,
    III:,
  }

  
  
//- Utils for document page:

mixin nav()
  .top-bar
    .navbar
      .menu
        a(href='#home') H
      .push
      for subLinks, i in ["I", "II", "III"]
        .dropdown
          button.dropbtn
            a(href='#')= i
          .dropdown-content
            for link in subLinks 
              a(href= link.url)= link.name

mixin docTitle(title)
  .title
    .title-wrapper
      .title-glow
      span MAIN TITLE

mixin section(title, content)
  h2= title
  for pkg in content 
    if typeof pkg === "object"
      | !{pkg[0]}
    else
      p= pkg

//- Template for home page:

mixin homePage(title, links)
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet", href= MAIN_CSS_DIR)
      link(rel="stylesheet", href= HOME_CSS_DIR)
      title= title
    body
      +nav()
      .main

        .home.push
          .title= title
          h2 
            a(href= INDEX_DIR) ..
          each link, name in links
            h2 
              a(href= link)= name
        .foot
          a(href='./about.html')  [What is this website?]
          .push
          p Note: ".." goes back

//- Template for document page:

mixin docPage(title, content, home, note)
  doctype html
  html(lang='en')
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet", href= MAIN_CSS_DIR)
      title= title
    body
      +nav()
      .main
        .navbar-pad
        a(name="top")
        .content
          +docTitle(title)
          for paragraphs, subtitle in content
            +section(subtitle, paragraphs)
        .push
        .foot
          a(href='#top') [back to top ↑]
          | ⠀|⠀
          a(href= home.link)= `[Proj ${home.name} Home]`
          .push
          if note 
            p= "Note: " + note

